form{
  width: 75%;
  margin: auto;
}
.jumbotron{
  text-align: center;
}

.btn {
  margin:auto;
  display: block;
}

.photo {
  display: block;
  margin: auto;
}

img {
  display: block;
  margin: auto;
}
.btn-group{
  text-align: center;
  display: block;
  margin: auto;
}
.myhidden{
  display: none;
}
